<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.dialer.theme.common"
    android:versionCode="1"
    android:versionName="1.0">
    <overlay android:targetPackage="com.android.dialer" android:priority="1"/>

    <application android:label="Dialer Theme" android:hasCode="false"/>
</manifest>
